flows6.json
[
    {
        "id": "e558a42d452e2a7c",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e85668560b55a629",
        "type": "tab",
        "label": "Поток 3",
        "disabled": false,
        "info": "Lab 6",
        "env": []
    },
    {
        "id": "c1dd38f2bb0bf8b6",
        "type": "MySQLdatabase",
        "name": "devinfo",
        "host": "127.0.0.1",
        "port": "3307",
        "db": "devinfo",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9e302f92b2e1f5ec",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f53e5545cb4738da",
        "type": "ui_group",
        "name": "trends",
        "tab": "9e302f92b2e1f5ec",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "12eab72ae4b55d36",
        "type": "ui_group",
        "name": "usage",
        "tab": "9e302f92b2e1f5ec",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4642483a54bdd4e7",
        "type": "switch",
        "z": "e558a42d452e2a7c",
        "name": "",
        "property": "payload[0][\"Database (devinfo)\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "devinfo",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "ee3482a55505f84f"
            ],
            [
                "26083c8dae443cc0"
            ]
        ]
    },
    {
        "id": "26083c8dae443cc0",
        "type": "change",
        "z": "e558a42d452e2a7c",
        "name": "create db",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CREATE DATABASE devinfo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "6cee6274e9f6dc05"
            ]
        ]
    },
    {
        "id": "85872b5d052193a1",
        "type": "change",
        "z": "e558a42d452e2a7c",
        "name": "create table",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CREATE TABLE devinfo.tab1( \tTS TIMESTAMP NOT NULL DEFAULT current_timestamp(), \tcpuavg FLOAT NULL DEFAULT NULL,     memory FLOAT NULL DEFAULT NULL,       PRIMARY KEY (TS) )",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "4abc5129e88b50ce"
            ]
        ]
    },
    {
        "id": "14e7d006b8f5c0cf",
        "type": "inject",
        "z": "e558a42d452e2a7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SHOW DATABASES like 'devinfo'",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "dfe394188c3b8145"
            ]
        ]
    },
    {
        "id": "ee3482a55505f84f",
        "type": "debug",
        "z": "e558a42d452e2a7c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "dfe394188c3b8145",
        "type": "mysql",
        "z": "e558a42d452e2a7c",
        "mydb": "c1dd38f2bb0bf8b6",
        "name": "devinfo",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "4642483a54bdd4e7"
            ]
        ]
    },
    {
        "id": "6cee6274e9f6dc05",
        "type": "mysql",
        "z": "e558a42d452e2a7c",
        "mydb": "c1dd38f2bb0bf8b6",
        "name": "devinfo",
        "x": 540,
        "y": 400,
        "wires": [
            [
                "85872b5d052193a1"
            ]
        ]
    },
    {
        "id": "4abc5129e88b50ce",
        "type": "mysql",
        "z": "e558a42d452e2a7c",
        "mydb": "c1dd38f2bb0bf8b6",
        "name": "devinfo",
        "x": 560,
        "y": 520,
        "wires": [
            [
                "ee3482a55505f84f"
            ]
        ]
    },
    {
        "id": "621eae244ee0b496",
        "type": "CPUs",
        "z": "e85668560b55a629",
        "name": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "e2b113c4973c45f3"
            ]
        ]
    },
    {
        "id": "0741e8db9b5ccbe0",
        "type": "Memory",
        "z": "e85668560b55a629",
        "name": "",
        "scale": "Byte",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "0ad460c2877c5101",
                "a2f83925a6c985be"
            ]
        ]
    },
    {
        "id": "fa24edb48767f2cb",
        "type": "inject",
        "z": "e85668560b55a629",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "621eae244ee0b496",
                "0741e8db9b5ccbe0"
            ]
        ]
    },
    {
        "id": "e2410519fc02f5aa",
        "type": "debug",
        "z": "e85668560b55a629",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "e2b113c4973c45f3",
        "type": "function",
        "z": "e85668560b55a629",
        "name": "function 1",
        "func": "//отримати попереднє значення ресурсів\n//\nvar prev = flow.get(\"prev\");\nif (typeof prev !== 'undefined') {//якщо контекст отримано\n    var cpus = msg.payload.cpus;//плинне значення \n    var cpusp = prev.payload.cpus;//попереднє значення \n    var user, sys, idle, total; var avg = 0;\n    var uses = []; var msgs = cpus;\n    //перебрати усі ЦПУ\n    for (let i = 0; i < cpus.length; i++) {\n        //отримати значення різниці показників\n        user = cpus[i].times.user - cpusp[i].times.user;\n        sys = cpus[i].times.sys - cpusp[i].times.sys;\n        idle = cpus[i].times.idle - cpusp[i].times.idle;\n        total = user + sys + idle;//загальне споживання часу за період\n        uses[i] = (user + sys) * 100.0 / total;//навантаження CPU\n        avg += uses[i];\n        msgs[i].payload = uses[i];\n        msgs[i].topic = \"cpu_\" + i;\n    }\n    avg = avg / cpus.length; msgs.length = cpus.length + 1;\n    msgs[msgs.length - 1] = { \"payload\": avg, \"topic\": \"avg\" };\n    return msgs\n}\nflow.set(\"prev\", msg);\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "e5e9bf11a2d26881",
                "668d662dfec7f3ee"
            ],
            [
                "e5e9bf11a2d26881",
                "69402d09a2637ac5"
            ],
            [
                "e5e9bf11a2d26881",
                "932c2858aa1a8a2b"
            ],
            [
                "e5e9bf11a2d26881",
                "ed52e3ec286bdeb4"
            ],
            [
                "e2410519fc02f5aa",
                "0bb9c2d08092d8c2",
                "69cd5ef7400a8549"
            ]
        ]
    },
    {
        "id": "0ad460c2877c5101",
        "type": "change",
        "z": "e85668560b55a629",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.memusage",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "память %",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "e5e9bf11a2d26881",
                "65906845782af21c"
            ]
        ]
    },
    {
        "id": "e5e9bf11a2d26881",
        "type": "ui_chart",
        "z": "e85668560b55a629",
        "name": "",
        "group": "f53e5545cb4738da",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "668d662dfec7f3ee",
        "type": "ui_text",
        "z": "e85668560b55a629",
        "group": "12eab72ae4b55d36",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpu_0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "69402d09a2637ac5",
        "type": "ui_text",
        "z": "e85668560b55a629",
        "group": "12eab72ae4b55d36",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpu_1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "932c2858aa1a8a2b",
        "type": "ui_text",
        "z": "e85668560b55a629",
        "group": "12eab72ae4b55d36",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpu_2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "ed52e3ec286bdeb4",
        "type": "ui_text",
        "z": "e85668560b55a629",
        "group": "12eab72ae4b55d36",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpu_3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "0bb9c2d08092d8c2",
        "type": "ui_text",
        "z": "e85668560b55a629",
        "group": "12eab72ae4b55d36",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cpu_avg",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "65906845782af21c",
        "type": "ui_text",
        "z": "e85668560b55a629",
        "group": "12eab72ae4b55d36",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "память %",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "200b01b8839e8df6",
        "type": "function",
        "z": "e85668560b55a629",
        "name": "to SQL",
        "func": "var mem = flow.get(\"memory\");\nvar cpuavg = flow.get(\"cpuavg\");\n\nmsg.topic = \"INSERT INTO tab1(cpuavg, memory) VALUES (\" + mem + \",\" + cpuavg + \")\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "b70ee2b7aa9b82bc"
            ]
        ]
    },
    {
        "id": "a2f83925a6c985be",
        "type": "change",
        "z": "e85668560b55a629",
        "name": "set flow.memory",
        "rules": [
            {
                "t": "set",
                "p": "memory",
                "pt": "flow",
                "to": "payload.memusage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "69cd5ef7400a8549",
        "type": "change",
        "z": "e85668560b55a629",
        "name": "set flow.cpuavg",
        "rules": [
            {
                "t": "set",
                "p": "cpuavg",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 580,
        "wires": [
            [
                "200b01b8839e8df6"
            ]
        ]
    },
    {
        "id": "b70ee2b7aa9b82bc",
        "type": "mysql",
        "z": "e85668560b55a629",
        "mydb": "c1dd38f2bb0bf8b6",
        "name": "devinfo",
        "x": 540,
        "y": 600,
        "wires": [
            []
        ]
    }
]